<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.duanzy.mapper.SsMapper" >
  <resultMap id="BaseResultMap" type="site.duanzy.entity.Ss" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="client_num" property="clientNum" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, port, password, client_num, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ss
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ss
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="site.duanzy.entity.Ss" >
    insert into ss (id, port, password, 
      client_num, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{port,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{clientNum,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="site.duanzy.entity.Ss" >
    insert into ss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="clientNum != null" >
        client_num,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="port != null" >
        #{port,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="clientNum != null" >
        #{clientNum,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.duanzy.entity.Ss" >
    update ss
    <set >
      <if test="port != null" >
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="clientNum != null" >
        client_num = #{clientNum,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.duanzy.entity.Ss" >
    update ss
    set port = #{port,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      client_num = #{clientNum,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getAccounts" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM
      ss t
    WHERE 1=1
    <if test="endTime != null">
      AND t.end_time &lt; now()
    </if>
    AND t.status=1
  </select>

  <delete id="deleteByPort">
    update ss set status=0,updated_time=now() where port=#{port}
  </delete>

</mapper>